ccai9012.egg-info/
.ipynb_checkpoints
__pycache__/
.DS_Store
.idea/

data/
models/
tests/

docs/figs/flowchart/*.xml.bkp
docs/figs/flowchart/*.xml
docs/md/weekly_syllabus.md
docs/html/weekly_syllabus.html

starter_kits/4_cv_models/webcam_yolo/video/Live Cam Iseo _ SkylineWebcams _(9_30_16_55).mp4
weekly_scripts/week10/video/Live Cam Iseo _ SkylineWebcams _(9_30_16_55).mp4